{% extends "base.twig" %}
{% import "student_forms.twig" as forms %}

{% block content %}
{% if is_logged_in %}
<p>В своем личном кабинете вы можете отредактировать данные о себе.</p>
{% else %}
<p>Заполните форму снизу для регистрации. Все поля обязательны для заполнения.</p>
{% endif %}

{% if error_fields %}
    {% if error_fields["system"] %}
        {% for error in error_fields["system"] %}
            {% for error in field_errors %}
                <div class="error-box">
                    Произошла непредвиденная ошибка. Попробуйте отправить форму позже.
                </div>
            {% endfor %}
        {% endfor %}
    {% else %}
        <div class="error-box">
            В форме найдены ошибки. Пожалуйста, исправьте их и отправьте форму заново.
        </div>
    {% endif %}
{% endif %}

{% if notify == 'edit_successful' %}
<div class="info-box">
    Данные отредактированы и сохранены.
</div>
{% endif %}

<div class="register-form">
    <form action="/student.php" method="POST">
        {{ forms.render_field("Имя", "forename", entered_form, error_fields, "text", "min='1' max='64' placeholder='Иван' required") }}
        {{ forms.render_field("Фамилия", "surname", entered_form, error_fields, "text", "min='1' max='64' placeholder='Иванов' required") }}
        {{ forms.render_field("E-mail", "email", entered_form, error_fields, "email", "placeholder='ivan.ivanov@example.com'") }}
        {{ forms.render_checkbox_field("Пол", "gender", entered_form, error_fields,
            "Мужской", "male", "required",
            "Женский", "female", "required"
        ) }}
        {{ forms.render_field("Группа", "group_id", entered_form, error_fields, "text", "min='2' max='5' placeholder='ТФ141' required") }}
        {{ forms.render_field("Сумма баллов по ЕГЭ", "exam_results", entered_form, error_fields, "number", "min='0' max='315' placeholder='175' required") }}
        {{ forms.render_field("Год рождения", "birth_year", entered_form, error_fields, "number", "min='1900' max='2016' placeholder='1999' required") }}
        {{ forms.render_checkbox_field("Иностранец?", "is_foreign", entered_form, error_fields,
            "Да", "true", "required",
            "Нет", "false", "required"
        ) }}
        <input type='hidden' name='action' value='{% if is_logged_in %}edit{% else %}register{% endif %}'>
        <input type='submit' value='{% if is_logged_in %}Сохранить{% else %}Зарегистрироваться{% endif %}'>
    </form>
</div>
{% endblock %}
